<link rel="stylesheet" type="text/css" href="../../../../styles/style2.css">
<link rel="stylesheet" type="text/css" href="../../../../styles/ng-modal-style.css">

<div id="users-contain" class="ui-widget">

  <!-- navbar -->
  <header id="site-header" class="navbar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img src="assets/logo.png" alt="logo" height="35" width="100">
          <i class="icons fa fa-bars cart cart-toggle" ng-click="slideOutCartBtnCallback()"></i> <!-- menu toggle -->
        </div>
      </div>
    </div>
  </header>
  <!-- /navbar -->
  <br>
  <div id="container">
      <div id="first_col">
          <div>
              <h2>Appetizers</h2>
              <div class="menu" ng-repeat="item in data.menu['Appetizers']">
                  <img src="assets/redirect_icon.png" ng-click="showModal(item)">
                  <div class="info">
                      <div class="title">
                          {{ item.name }}
                      </div>
                      <div class="desc">
                          {{ item.desc }}
                      </div>
                      <div class="price">
                          {{ item.price | currency }}
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <h2>Soup</h2>
              <div class="menu" ng-repeat="item in data.menu['Soup']">
                  <img src="assets/redirect_icon.png" ng-click="showModal(item)">
                  <div class="info">
                      <div class="title">
                          {{ item.name }}
                      </div>
                      <div class="desc">
                          {{ item.desc }}
                      </div>
                      <div class="price">
                          {{ item.price | currency }}
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <h2>Noodle Soup</h2>
              <div class="menu" ng-repeat="item in data.menu['Noodle Soup']">
                  <img src="assets/redirect_icon.png" ng-click="showModal(item)">
                  <div class="info">
                      <div class="title">
                          {{ item.name }}
                      </div>
                      <div class="desc">
                          {{ item.desc }}
                      </div>
                      <div class="price">
                          {{ item.price | currency }}
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <h2>Salad</h2>
              <div class="menu" ng-repeat="item in data.menu['Salad']">
                  <img src="assets/redirect_icon.png" ng-click="showModal(item)">
                  <div class="info">
                      <div class="title">
                          {{ item.name }}
                      </div>
                      <div class="desc">
                          {{ item.desc }}
                      </div>
                      <div class="price">
                          {{ item.price | currency }}
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <h2>Sauteed</h2>
              <div class="menu" ng-repeat="item in data.menu['Sauteed']">
                  <img src="assets/redirect_icon.png" ng-click="showModal(item)">
                  <div class="info">
                      <div class="title">
                          {{ item.name }}
                      </div>
                      <div class="desc">
                          {{ item.desc }}
                      </div>
                      <div class="price">
                          {{ item.price | currency }}
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <h2>Curry</h2>
              <div class="menu" ng-repeat="item in data.menu['Curry']">
                  <img src="assets/redirect_icon.png" ng-click="showModal(item)">
                  <div class="info">
                      <div class="title">
                          {{ item.name }}
                      </div>
                      <div class="desc">
                          {{ item.desc }}
                      </div>
                      <div class="price">
                          {{ item.price | currency }}
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <h2>Meat and Poultry</h2>
              <div class="menu" ng-repeat="item in data.menu['Meat and Poultry']">
                  <img src="assets/redirect_icon.png" ng-click="showModal(item)">
                  <div class="info">
                      <div class="title">
                          {{ item.name }}
                      </div>
                      <div class="desc">
                          {{ item.desc }}
                      </div>
                      <div class="price">
                          {{ item.price | currency }}
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <h2>Seafood</h2>
              <div class="menu" ng-repeat="item in data.menu['Seafood']">
                  <img src="assets/redirect_icon.png" ng-click="showModal(item)">
                  <div class="info">
                      <div class="title">
                          {{ item.name }}
                      </div>
                      <div class="desc">
                          {{ item.desc }}
                      </div>
                      <div class="price">
                          {{ item.price | currency }}
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <h2>Fish</h2>
              <div class="menu" ng-repeat="item in data.menu['Fish']">
                  <img src="assets/redirect_icon.png" ng-click="showModal(item)">
                  <div class="info">
                      <div class="title">
                          {{ item.name }}
                      </div>
                      <div class="desc">
                          {{ item.desc }}
                      </div>
                      <div class="price">
                          {{ item.price | currency }}
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <h2>Noodles</h2>
              <div class="menu" ng-repeat="item in data.menu['Noodles']">
                  <img src="assets/redirect_icon.png" ng-click="showModal(item)">
                  <div class="info">
                      <div class="title">
                          {{ item.name }}
                      </div>
                      <div class="desc">
                          {{ item.desc }}
                      </div>
                      <div class="price">
                          {{ item.price | currency }}
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <h2>Fried Rice</h2>
              <div class="menu" ng-repeat="item in data.menu['Fried Rice']">
                  <img src="assets/redirect_icon.png" ng-click="showModal(item)">
                  <div class="info">
                      <div class="title">
                          {{ item.name }}
                      </div>
                      <div class="desc">
                          {{ item.desc }}
                      </div>
                      <div class="price">
                          {{ item.price | currency }}
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <h2>Side Orders</h2>
              <div class="menu" ng-repeat="item in data.menu['Side Orders']">
                  <img src="assets/redirect_icon.png" ng-click="showModal(item)">
                  <div class="info">
                      <div class="title">
                          {{ item.name }}
                      </div>
                      <div class="desc">
                          {{ item.desc }}
                      </div>
                      <div class="price">
                          {{ item.price | currency }}
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <h2>Drinks</h2>
              <div class="menu" ng-repeat="item in data.menu['Drinks']">
                  <img src="assets/redirect_icon.png" ng-click="showModal(item)">
                  <div class="info">
                      <div class="title">
                          {{ item.name }}
                      </div>
                      <div class="desc">
                          {{ item.desc }}
                      </div>
                      <div class="price">
                          {{ item.price | currency }}
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <h2>Noodles Lunch Special</h2>
              <div class="menu" ng-repeat="item in data.menu['Noodles Lunch Special']">
                  <img src="assets/redirect_icon.png" ng-click="showModal(item)">
                  <div class="info">
                      <div class="title">
                          {{ item.name }}
                      </div>
                      <div class="desc">
                          {{ item.desc }}
                      </div>
                      <div class="price">
                          {{ item.price | currency }}
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <h2>Sauteed Lunch Special</h2>
              <div class="menu" ng-repeat="item in data.menu['Sauteed Lunch Special']">
                  <img src="assets/redirect_icon.png" ng-click="showModal(item)">
                  <div class="info">
                      <div class="title">
                          {{ item.name }}
                      </div>
                      <div class="desc">
                          {{ item.desc }}
                      </div>
                      <div class="price">
                          {{ item.price | currency }}
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <h2>Curry Lunch Special</h2>
              <div class="menu" ng-repeat="item in data.menu['Curry Lunch Special']">
                  <img src="assets/redirect_icon.png" ng-click="showModal(item)">
                  <div class="info">
                      <div class="title">
                          {{ item.name }}
                      </div>
                      <div class="desc">
                          {{ item.desc }}
                      </div>
                      <div class="price">
                          {{ item.price | currency }}
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <h2>Fried Rice Lunch Special</h2>
              <div class="menu" ng-repeat="item in data.menu['Fried Rice Lunch Special']">
                  <img src="assets/redirect_icon.png" ng-click="showModal(item)">
                  <div class="info">
                      <div class="title">
                          {{ item.name }}
                      </div>
                      <div class="desc">
                          {{ item.desc }}
                      </div>
                      <div class="price">
                          {{ item.price | currency }}
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <h2>Dessert</h2>
              <div class="menu" ng-repeat="item in data.menu['Dessert']">
                  <img src="assets/redirect_icon.png" ng-click="showModal(item)">
                  <div class="info">
                      <div class="title">
                          {{ item.name }}
                      </div>
                      <div class="desc">
                          {{ item.desc }}
                      </div>
                      <div class="price">
                          {{ item.price | currency }}
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- end of first_col -->


      <div id="second_col">
          <h2>Your Order</h2>
          <table id="checkout" class="ui-widget ui-widget-content">
              <thead>
                  <tr class="ui-widget-header " valign="top">
                      <th>ITEM</th>
                      <th>PRICE</th>
                      <th>QTY</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="item in cart track by $index">
                      <td>{{ item.name }}</td>
                      <td>{{ item.price | currency }}</td>
                      <td>{{ item.qty }}</td>
                      <td>
                          <button ng-click="cartEditBtnCallback($index)">Edit</button>
                      </td>
                      <td>
                          <button ng-click="removeItem($index)">Delete</button>
                      </td>
                  </tr>

                  <!--<tr>-->
                  <!--<td align="right">{{ item.qty }}</td>-->
                  <!--<td align="right">{{ item.desc }}</td>-->
                  <!--<td align="right">{{ item.price }}</td>-->
                  <!--<td align="right">{{ item.subtotal }}</td>-->
                  <!--<td align='right'><a href='http://localhost:8000/laundry/shopping_cart_edit?order_item_idx={{ forloop.counter0 }}'>Edit</a>-->
                  <!--<td align='right'><a href='http://localhost:8000/laundry/shopping_cart_delete?order_item_idx={{ forloop.counter0 }}'>Delete</a>-->
                  <!--</tr>-->
              </tbody>
          </table>


          <table id="total" class="ui-widget ui-widget-content">
              <tbody>
                  <tr>
                      <td>Sub Total</td>
                      <td align='right'>
                          <label id="sub_total_amt">{{ order.subtotal | currency }}</label>
                      </td>
                  </tr>
                  <tr>
                      <td>Tax</td>
                      <td align='right'>
                          <label id="tax_amt">{{ order.tax | currency }}</label>
                      </td>
                  </tr>
                  <tr>
                      <td>Total</td>
                      <td align='right'>
                          <label id="total_amt">{{order.total | currency }}</label>
                      </td>
                  </tr>
              </tbody>
          </table>
          <!-- <button id="checkout_button" href="#/status" ng-click="checkoutBtnCallback()">Check Out</button> -->
          <a href="/#/status" ng-click="checkoutBtnCallback()">Checkout</a>
      </div>
      <!-- end of second_col -->
  </div>
  <!-- end of container -->
</div>
<div ng-controller="AppCtrl" layout="column" style="height:500px;" ng-cloak>

  <section layout="row" flex>

    <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="LeftCtrl">
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button>
        <p hide show-gt-md>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p>
      </md-content>

    </md-sidenav>

    <md-content flex layout-padding>

      <div layout="column" layout-align="top center">
        <p>
        The left sidenav will 'lock open' on a medium (>=960px wide) device.
        </p>
        <p>
        The right sidenav will focus on a specific child element.
        </p>

        <div>
          <md-button ng-click="toggleLeft()"
            class="md-primary" hide-gt-md>
            Toggle left
          </md-button>
        </div>

        <div>
          <md-button ng-click="toggleRight()"
            ng-hide="isOpenRight()"
            class="md-primary">
            Toggle right
          </md-button>
        </div>
      </div>

      <div flex></div>

    </md-content>

    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" layout-padding>
        <form>
          <md-input-container>
            <label for="testInput">Test input</label>
            <input type="text" id="testInput"
                   ng-model="data" md-autofocus>
          </md-input-container>
        </form>
        <md-button ng-click="close()" class="md-primary">
          Close Sidenav Right
        </md-button>
      </md-content>

    </md-sidenav>

  </section>

</div>
  <!-- end of users-contain -->
<modal-dialog show='modalShown' width='750px' height='70%'>
  <h1>{{ item.title }}</h1>
  <h2>{{ item.desc }}</h2>
  <h2>{{ item.price | currency }}</h2>
  <h3>Special Instructions</h3>
  <input type="text" ng-model="item.instructions">
  <h3>Quantity</h3>
  <input type="text" value="1" maxlength="3" ng-model="item.qty" required>

  <button type="button" name="add" ng-click="addItem()">Add</button>

</modal-dialog>
